apiVersion: v1
kind: ServiceAccount
metadata:
  name: auto-approver
  namespace: kube-system
---
apiVersion: rbac.authorization.k8s.io/v1beta1
kind: ClusterRole
metadata:
  name: auto-approver
rules:
- apiGroups:
  - certificates.k8s.io
  resources:
  - certificatesigningrequests
  verbs:
  - delete
  - get
  - list
  - watch
- apiGroups:
  - certificates.k8s.io
  resources:
  - certificatesigningrequests/approval
  verbs:
  - create
  - update
- apiGroups:
  - certificates.k8s.io
  resources:
  - signers
  resourceNames:
  - kubernetes.io/kubelet-serving
  - kubernetes.io/kube-apiserver-client-kubelet
  verbs:
  - approve
- apiGroups:
  - authorization.k8s.io
  resources:
  - subjectaccessreviews
  verbs:
  - create
---
kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: auto-approver
subjects:
- kind: ServiceAccount
  namespace: kube-system
  name: auto-approver
roleRef:
  kind: ClusterRole
  name: auto-approver
  apiGroup: rbac.authorization.k8s.io
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: auto-approver
  namespace: kube-system
spec:
  replicas: 1
  selector:
    matchLabels:
      name: auto-approver
  template:
    metadata:
      labels:
        name: auto-approver
    spec:
      serviceAccountName: auto-approver
      tolerations:
        - effect: NoSchedule
          operator: Exists
      priorityClassName: system-cluster-critical
      containers:
        - name: auto-approver
          image: banzaicloud/auto-approver:0.1.0
          imagePullPolicy: Always
          env:
            - name: WATCH_NAMESPACE
              value: ""
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: OPERATOR_NAME
              value: "auto-approver"
